.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 320px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
  background-image: linear-gradient(
      rgba(118, 8, 207, 0.7),
      rgba(8, 207, 75, 0.7)
    ),
    url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.title {
  color: aliceblue;
}

.load {
  margin: 0 auto;
  color: rgb(38, 38, 87);
  font-weight: 700;
  font-size: 36px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 700px;
  }
}
@media screen and (min-width: 1158px) {
  .wrapper {
    max-width: 1580px;
    align-items: start;
  }
}
